@media(max-width : 500px) {

    .headermenu {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: flex-start;
        overflow: hidden;
        border-bottom: 1px solid black;
    }

    .menu {
        display: none;
    }

    .menu_01 {
        display: none;
    }

    .teacher_introduction {
        display: block;
        margin: 0;
    }

    .teacher_introduction_Box {
        width: 100%;
    }

    .AllmainBox {
        display: block;
        width: 100%;
        height: auto;
    }

    .mainImgR_P_1 {
        top: 0;
    }

    .moBox {
        width: 100%;
        height: 258px;
        overflow: hidden;
        position: relative;
    }

    img {
        max-width: 100%;
    }

    .MoImg {
        display: block;
    }

    .main-font14 {
        font-size: 14px;
        line-height: 1.5rem;
        margin: 5px 0 33px;
    }

    .logo {
        display: none;
    }

    .mo_menu_padding {
        width: 100%;
        padding: 0 20px;
    }

    .pc_logo {
        display: none;
    }

    .Dn {
        display: none;
    }
    .about_Dn{
        display: none;
    }
    .pc_logo_1 {
        display: none;
    }

    .mo_logo_div {
        display: flex;
        margin-left: 20px;
        align-items: center;
        height: auto;
        width: 370px;
    }

    .mo_logo {
        display: block;
    }

    .mo_logo_a {
        height: 83px;
        width: 370px;
    }

    .mo_logo_a div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 53px;
        height: 70px;
        border-right: 2px solid black;
    }

    .mo_login_a div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 53px;
    }

    .mo_menu a {
        display: block;
        width: 53px;
        height: 70px;
        align-items: center;
        justify-content: center;
    }


    .headerIcon {
        display: none;
    }

    .moimg_Df {
        display: flex;
    }

    .poimgCenter {
        position: absolute;
    }

    .poimgCenter img {
        max-width: 100%;
        height: 261px;
    }

    .poimgCenter_R {
        position: relative;
    }

    .poimgCenter_R img {
        max-width: 100%;
        height: auto;
    }

    .Br_BT {
        border-bottom: 2px solid black;
    }

    .icon {
        display: none;
    }

    .mo_menu_Box {
        width: 100%;
        padding: 0 0 50px 20px;
    }

    .mo_menu_Box_1 {
        padding: 65px 0 50px 20px;
    }

    .mo_menu_Box_1 a p {
        font-size: 24px;
        font-weight: bold;
        color: black;
    }

    .mo_menu_Box a p {
        font-size: 24px;
        font-weight: bold;
        color: black;
    }

    #body {
        margin-bottom: 10em;
    }

    .mo_icon {
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
        margin-top: 203px;
    }

    .mo_icon div {
        margin-right: 8px;
    }

    .mo_menu_Box img {

        max-width: 27px;
        height: auto;
    }

    .mo_Instructors {
        display: block;
        width: 100%;
        padding: 16px 19px;
        height: 64px;
    }

    .mo_Instructors p {
        font-weight: bold;
    }

    .mo_Instructors_search {
        border: 2px solid black;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;
        margin-left: 190px;

    }

    .mo_Instructors_search a {
        width: 25.5px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .mo_Instructors_searchlog {
        display: flex;
        border: 2px solid black;
        width: 134px;
        height: 30px;
        border-radius: 18px;
        background-color: white;
        margin-left: 90px;

    }

    .none {
        display: none;
    }

    .mo_Instructors_searchlog a {
        width: 25.5px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .mo_search {
        width: 70%;
        height: 25px;
        margin-left: 11px;
    }

    .mo_search input {
        width: 100%;
        height: 25px;
        border: none;
    }

    .teacher_introduction_Text {
        padding: 31px 39px;
    }

    .teacher_introduction_subBox {
        height: 86px;
    }

    .next_arrow {
        display: none;
    }

    .teacher_introduction_subBox_a:hover .next_arrow {

        display: none;
    }

    .teacher_introduction_subBox_a:hover .next_arrow_L {
        display: none;
    }

    .teacher_introduction_TextBox {
        height: 86px;
    }

    .teacher_introduction_Text {
        font-size: 20px;
    }

    .teacher_introduction_ImgBox {
        border-bottom: 1px solid black;
        height: 86px;
    }

    .teacher_introduction_ImgBox_L {
        height: 86px;
        border-left: none;
    }
    .class_EN_TEXT{
        font-size: 30px;
    }
    .class_Df_Ac svg{
        width: 63px;
        height: 38px;
    }
    .class_uspec{
        font-size: 39px;
    }
    .class_day{
        font-size: 22px;
    }
    .class_idols_text{
        font-size: 11px;
    }
    .class_img_Box{
        margin-left:50px;
        margin-top:50px;
    }
    .menu_02 {
        display: none;
    }
    .class_font56{
        font-size: 39px;
    }

    .introduce_back {
        display: block;
    }
    .class_Idols_Box{
        border: none;
        background-color: white;
    }
    .class_pay{
        margin-top: 20px;
        margin-left:170px
    }
    .class_uspec_Box{
        width: 100%;
        height: 382px;
    }
    .introduce_AllBox {
        display: block;
        margin: 0;
    }

    .introduce_AllBox_Bigimg {
        width: 100%;
        height: auto;
        border: none;
    }

    .ml73 {
        margin: 0;
    }

    .mt-4 {
        margin: 0;
        height: 124px;
    }

    .introduce_icon {
        position: absolute;
        top: 0;
        margin-top: -1193px;
        left: 50%;
        margin-left: 76px;
    }

    .introduce_icon a {
        display: block;
        width: 44px;
        height: 44px;
    }

    .introducePage {
        width: 100%;
        margin: 0;
    }

    .introduce_name {
        width: 100%;
    }

    .mo_teacherBox {
        margin-top: 35px;
        margin-left: 19px;
    }

    .teacher_speak_Box {
        margin: 0;
        padding: 31px 20px 80px 20px;
    }

    .introduce_All {
        height: auto;
    }

    .classBox {
        margin-left: 19px
    }

    .class_Information {
        padding: 57px 19px 17px 19px;
    }

    .Book_now {
        width: 62px;
        font-size: 10px;
    }

    .Book_now_Book {
        align-items: center;
        width: 92px;
        height: 29px;
        padding: 8px 15px;
    }

    .mr133 {
        margin-right: 30px;
    }

    .class_more {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 65px;
    }

    .class_video_text {
        font-size: 20px;
    }

    .class_video_textBox {
        margin-left: 19px
    }

    .class_video_icon {
        width: 20px;
        height: 16.36px;
    }

    .video_All_Box {
        display: block;
        padding: 40px 19px 16px 19px;
    }

    .video_style {
        width: 352px;
        height: auto;
    }

    .video_more {
        margin-top: 17px;
        display: block;
    }

    .mo_Instructors_page {
        display: none;
    }

    .mo_mt10 {
        margin-top: 10px;
    }

    .moimg {
        width: 100%;
    }

    .moimg img {
        max-width: 100%;
        width: 100%;
    }

    .mo_overflowHD {
        overflow: auto;
    }

    .pc_version {
        display: none;
    }

    .mo_version {
        display: block;
        background-color: white;
    }

    .mo_schedule_All {
        border-bottom: 2px solid black;
        padding: 0 19px;
    }

    .mo_schedule {
        width: 100%;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mo_schedule p {
        font-weight: 600;
        font-size: 16px;
    }

    .mo_schedul_Box {
        border: 2px solid black;
        border-radius: 18px;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        padding: 2px 0 0 4px;
    }

    .mo_schedul_Box_Text {
        border: none;
        margin: 4px;
        width: 90px;
    }

    .ttttt {
        display: none;
    }

    .mo_All_Instructors_Box select {
        width: 100%;
        height: 45px;
        margin-bottom: 5px;
        border: 1px solid black;
        border-radius: 8px;
        padding: 13px 24px;
    }

    .calendar_Box {
        margin: 30px 19px 0 19px;
        padding-bottom: 43px;
        position: relative;
    }

    .month_Box {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .month {
        font-size: 25px;
        font-weight: bold;
    }

    .calendar_day {
        margin-top: 29px;
        display: flex;
        justify-content: space-around;

    }

    .calendar_day div {
        width: 10px;
    }

    .calendar_day_S {
        color: #E22786;
        font-weight: bold;
    }

    .calendar_day div p {
        font-weight: bold;
    }

    .calendar_oneday {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin-top: 27px;
    }

    .calendar_oneday div {
        width: 44px;
        height: 44px;
    }

    .mo_circle {
        position: absolute;
        margin-top: -0.8em;
        margin-left: -0.1em;
        width: 44px;
        height: 44px;
        border: 2px solid black;
        border-radius: 50%;
    }

    .All_calendar_Box {
        border-bottom: 2px solid black;
    }

    .mo_class_All_Box {
        height: 100px;
        border-bottom: 1px solid black;
    }

    .mo_class_sub_Box {
        display: flex;
        justify-content: space-between;
        padding: 25px 19px 0 19px;
    }

    .Mo_Df_JC {
        display: flex;
        justify-content: flex-start;
    }

    .mo_class_empty_Box {
        width: 15px;
        height: 15px;
        background-color: #E22786;
        margin-right: 8px;
    }

    .mo_class_name {
        padding: 0 42px;
        margin-top: 9px;
    }

    .mo_class_name div {
        font-size: 20px;
    }

    .Available_on {
        color: #E22786;
    }

    #login-body {
        margin: 0;
    }

    #login-body .login-wrap {
        border: none;
        border-radius: 0;
        padding: 58px 19px 0 19px;
        box-shadow: none;
        margin-top: -360px;
    }

    .bodywhite {
        background-color: #FCF9FF;
    }

    .email {
        border-radius: 8px;
    }

    .pass {
        border-radius: 8px;
    }

    #body .login-wrap {
        margin-top: -200px;
        border: none;
        border-radius: 0;
        padding: 58px 19px 0 19px;
        box-shadow: none;
    }

    .Success {
        width: 100%;
        height: auto;
        border: none;
        padding: 0 19px 0 19px;
        box-shadow: none;
    }

    .wi {
        width: 100%;
    }

    .bodywhite {
        background-color: white;
    }

    .footer_Box {
        padding: 0 19px 22px 19px;
    }

    .mt26 .Df {
        display: block;
    }

    .sss {
        display: none;
    }



    .buy_pass {
        width: 100%;
        height: 64px;
        border-bottom: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 19px;
    }

    .buy_pass p {
        font-size: 16px;
        font-weight: bold;
    }

    .moclass_booking {
        width: 100%;
        height: 64px;
        border-bottom: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 19px;
    }

    .moclass_booking p {
        font-size: 16px;
        font-weight: bold;
    }

    .buy_bt {
        padding: 0 0 0 19px;
        visibility: hidden;
    }

    .buy_section {
        width: 100%;
        background-color: white;
        margin: 0;
    }

    .class_booking {
        background-color: white;
        height: auto;
        margin: 0;
    }

    .uspec_oneday_pass_AllBox {
        margin-top: 0;
        border: none;
        border-radius: 0;
        padding: 0 19px;
    }

    .uspec_oneday_pass_InBox {
        width: 100%;
    }

    .uspec_oneday_pass_AllBox #Df {
        display: block;
    }

    .uspec_oneday_pass_SubBox {
        margin-top: 22px;
    }

    .uspec_oneday_pass_SubBox_1 {
        margin-top: 23px;
    }

    .vv {
        visibility: visible;
    }

    .vh {
        visibility: hidden;
    }

    .bpm {
        padding-bottom: 20px;
        border-bottom: 2px solid black;
    }

    .uspec_oneday_pass_InBox_M {
        margin-top: 30px;
        width: 100%;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        border-left: none;
        border-right: none;
    }

    .uspec_oneday_pass_AllBox {
        height: auto;
    }

    .buy_section {
        height: auto;
    }

    .uspec_oneday_pass_InBox_R {
        width: 100%;
        padding: 0;
    }

    .buy_button {
        margin: 86px 0 40px 0;
    }

    .buy_button_1 {
        margin: 50px 0 40px 0;
    }

    .uspec_oneday_pass_InBox_M_sub {
        padding: 0 0 35px 0;
    }

    .uspec_oneday_pass_InBox {
        padding: 0;
    }

    .classBook_success {
        width: 100%;
        border: none;
        height: auto;
        box-shadow: none;
    }

    .mt152 {
        margin-top: 0;
    }

    .mt38 {
        margin-bottom: 184px;
    }

    .ok_btn {
        margin-bottom: 84px;
    }

    .mt217 {
        margin-top: 93px;
    }

    .Df_Je {
        display: block;
        width: 100%;
    }

    .main_Text {
        width: 319px;
    }

    .section_All_Box {
        width: 100%;
        margin-top: 972px;
    }

    .introduce_All_Box {
        width: 100%;

    }

    .mo_introduce_All_Box {
        padding: 0 20px;
    }

    .main_Text {
        width: 319px;
        font-size: 35px;
    }

    .temporary {
        padding: 0 20px;
    }

    .mt44 {
        margin-top: 91px;
    }

    .about_text {
        top: 0;
        right: 0;
        margin: 170px 0 20px 20px;
        position: absolute;
    }

    .about_text_header {
        font-size: 39px;
    }

    .about_text_2 {
        font-size: 16px;
    }

    .ml61 {
        margin: 0;

    }

    .ml61_1 {
        position: absolute;
        left: 0;
        top: 0;
        margin: 70px 0 0 0;
    }

    .ml61_1 img {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
    }
    .ledger_Box{
        display: block;
    }
    .ment_Box{
        margin-left: 0;
        width: 100%;
     
    }
    .mo_po_AB{
        position: absolute;
        margin-top: -442px;
    }
    .Member {
        display: block;
        margin: -864px 0 0 20px;
        position: absolute;
        left: 0;
        width: auto;

    }
    .google_map_Text_Box{
padding: 0;
margin-top: 50px;
    }
    .google_map_img{
        padding: 76px 20px 0 20px;
    }
    .add{
        position: absolute;
    }
    .map{
        height: auto;
        margin-bottom: 500px;
    }
    .google_map_Box{
        width: 100%;
        border-right: none;
    }
    .management {
        font-size: 20px;
    }
    .mo_pad14{
        border-top: 1px solid black;
        padding-top: 14px;
        margin-top: 10px;
    }
    .order_details {
        font-size: 16px;
        margin-left: 20px;
    }   
    .coupon_Text_Box{
        width: 100%;
    }
    .QnA_a_Box{
        display: block;
    }
    .QnA_a_Box a {
        display: flex;
        margin-top: 15px;
    }
    .Questions_Box{
        padding: 36px 0 24px 0;
    }
    .QnA_Box_P_3{
        font-size: 12px;
        line-height: 1.4em;
    }
    .privacy_Box_in{
        height: auto;
        display: block;
    }
    .privacy_Box_Df_Af{
        display: block;
    }
    .privacy_Box_line_h p{
        line-height: 1.7em;
        font-size: 15px;
    }
    .Terms_p_1{
        line-height: 1.7em;
    }
    .border_black{
        display: none;
    }
    .Notice_Box{
        padding: 24px 20px;
    }
    .Notice_In_Box {
        width: 100%;
        margin-bottom: 10px;
    }
    .NoTice{
        margin: 0;
    }
    .privacy_Box{
     padding: 31px 20px;   
    }
    .privacy_Box_C{
        margin: 0;
        border: none;   
        height: auto;
        display: block;
    }
    .privacy_Box_C_padding{
        padding: 0;
    }
    .ml10{
        margin:6px 0 0 0;
    }
    .FAQ_Box{
        padding: 26px 0 20px 0;
    }
    .QnA_Box{
        padding: 25px 30px 10px 30px;
    }
    .QnA_Box_P_1{
        font-size: 16px;
        line-height: 1.2em;
    }
    .mo_QnA_a_Box{
        font-size:12px;
    }
    .QnA_Box_P_2{
        font-size:14px ;
    }
    .cp_Box{
        width: 100%;
    }
    .cp_Box_in{
        width: 100%;
    }
    .coupon_img_Text{
       margin: 22px 0 0 45px; 
    }
    .coupon_pr{
        display: flex;
        justify-content: center;
        margin-top: 21px;
    }
    .coupon_img{
        display: block;
    }
    .coupon_img_2{
        display: block;
    }
    .coupon_Text_Box_input{
        width: 310px;
    }
    .font24 {
        font-size: 22px;
        font-weight: bold;
    }

    .Db {
        display: block;
    }

    .D_D {
        display: block;
    }

    .about_img {
        width: 100%;
        height: auto;
    }

    .about_text_Box {
        margin-left: 0;
        width: 100%;
    }

    .All_teacher {
        padding: 0;
        border: none;
        margin-top: 193px;
    }

    .Sub_teacher_Box {
        width: 100%;
    }

    .mr15 {
        margin: 0;
    }

    .ml25 {
        margin: 27px 0 0 0;
    }

    .font-Size14 {
        font-size: 14px;
        line-height: 1.5rem;
    }

    .Text_3D_Box {
        margin-top: 93.5px;
    }

    .Text_3D_Box p {
        font-size: 46px;
        width: 300px;
        line-height: 3.5rem;
    }

    .Upcoming_All_Box {
        display: block;
    }

    .maine_Book_now_Box {
        width: 100%;
        padding: 9px 15px;
        height: 51px;
    }

    .sub_Book_now_Box {
        width: 100%;
        padding: 9px 15px;
        height: 51px;
    }

    .main_Book_now_end {
        width: 86px;
        height: 27px;
    }

    .sub_Book_now_end {
        width: 86px;
        height: 27px;
    }

    .main_Book_now_Text {
        font-size: 9px;
    }

    .sub_Book_now_Text {
        font-size: 9px;
    }

    .w46 {
        width: 30px;
    }

    .main_day {
        font-size: 14px;
    }

    .main_month {
        font-size: 14px;
    }

    .moDf {
        display: flex;
    }

    .mofont-Size15 p {
        font-size: 12px;
        line-height: 1rem;
    }

    .main_Book_now_start {
        width: 86px;
        height: 27px;
    }

    .main_Book_now_start p {
        font-size: 9px;
    }

    .font-Size50 {
        font-size: 33px;
        margin-bottom: 37px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .show_All {
        margin-top: 0px;
        width: 79px;
        height: 29px;

    }

    .show_All a {
        display: block;
        width: 79px;
        height: 29px;
    }

    .show_All p {
        height: 29px;
        font-size: 11px;
    }




    .show_All_1 {
        margin-top: 0px;
        width: 79px;
        height: 29px;

    }

    .show_All_1 a {
        display: block;
        width: 79px;
        height: 29px;
    }

    .show_All_1 p {
        height: 29px;
        font-size: 11px;
    }


    .Member p {
        width: 100%;
    }

    .footer_Box {
        margin-top: 130pxn;
        width: 100%;
    }

    .Df_JSB {
        display: block;
    }

    .FAQ_All {
        margin-top: 33px;
        justify-content: start;
    }

    .mainVideo video {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 70px;
    }

    .our {
        margin: 0 0 153px 0;
    }

    .Vidoe_Box {
        width: 100%;
    }

    .classBtn {
        margin: 0;
        position: absolute;
        left: 0;
        margin-top: -17rem;
        justify-content: space-between;
        width: 100%
    }

    .Our_Class {
        margin-bottom: 100px;
    }

    .classBtn div {
        margin: 0;
    }

    .mr20 {
        font-size: 11px;
    }

    .Representativenumber {
        font-size: 18px;
    }

    .FAQ_In_Box {
        font-size: 12px;
    }

    .mt26 {
        font-size: 11px;
    }

    .Cntact {
        margin-top: 21px;
    }

    .mt30 {
        margin-top: 12px;
    }

    .mt30 p {
        font-size: 11px;
    }

    .COPYRIGHT {
        font-size: 9px;
    }

    .border_grey {
        margin-top: 62px;
    }

    .font-Size30 {
        font-size: 24px;
    }

    #login-body .login-wrap h1 {
        margin-bottom: 58px;
    }

    .mo_but {
        margin-top: 117px;
    }

    #body .mo-wrap {
        margin-top: 2.6rem;
    }

    .mo_mr15 {
        margin-right: 15px;
    }

    .mo_po_ab {
        position: absolute;
        top: 0;
        display: flex;
        margin-top: 80px;
        margin-left: -30px;
    }

    .introduce_AllBox_div {
        height: auto;
    }

    .All_nickname {
        margin-top: 34px;
    }

    .Introduce_Box {
        width: 100%;
        margin-top: 36px;
    }

    .w937 {
        width: 100%;
    }

    .ml76 {
        margin: 0;
    }

    .class_video {
        position: absolute;
        margin-top: -310px;
        height: auto;
    }

    .class_video_text_contents {
        width: 100%;
    }

    .mt68 {
        margin: 0;
    }

    .class_video_more {
        position: absolute;
        margin-top: -414px;
        right: 0;
        margin-right: 20px;
        width: 79px;
        height: 29px;
    }

    .class_video_more a {
        width: 79px;
        height: 25px;
    }

    .Instagram {
        width: 41px;
        height: 41px;
    }

    .Youtube {
        width: 41px;
        height: 41px;
    }

    .mt123 {
        margin-top: 85px;
    }

    .wrap {
        width: 100%;
    }

    .teacher_introduction_total {
        margin: 0;
        border-left: none;
        border-right: none;
    }

    .buy_bt_1 {
        display: none;
    }

    .mypage_Text_Box {
        margin: 0;
        padding: 9px 20px;
        height: 61px;
        border-bottom: 1px solid black;
    }

    .mypage_Text_Box p {
        font-size: 18px;

    }

    .mypage_Box {
        border: none;
        margin: 22px 0 25px 0;
    }

    .mypage_In_Box {
        padding: 0 20px;
    }

    .mypagefont {
        font-size: 14px;
    }

    .mypage_In_Box_Text {
        padding: 19px 0 15px 0;
        height: 140px;
    }

    .mypagefont26 {
        font-size: 20px;
    }

    .mypagefont24 {
        font-size: 16px;
    }

    /* .page_orientation {
        display: none;
    } */

    .mo_Df_Js_AC {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mt37 {
        margin-top: 28px;
    }

    .EDIT_All_Box {
        margin-left: 101px;
        width: auto;
        height: auto;
        border: none;
        border-bottom: 1px solid black;
        border-radius: 0;
    }

    .EDIT_All_Box a {

        width: auto;
        height: auto;
    }

    .EDIT_All_Box_1 {
        margin-left: 19px;
        width: auto;
        height: auto;
        border: none;
        border-bottom: 1px solid black;
        border-radius: 0;
    }

    .EDIT_All_Box_1 a {

        width: auto;
        height: auto;
    }

    .ok_Box_Sub {
        width: 350px;
        margin-top: 100px;
    }

    .ok_Box_Sub a {
        width: 350px;
    }

    .mo_PA {
        position: absolute;
        margin-top: 340px;
        font-size: 12px;
        border-bottom: 1px solid black;

    }

    .Purchase {
        width: 94px;
        height: 29px;
    }
}